<div class="modal-header">
    <h3 class="modal-title">{{'FILL_IN_INFORMATION_ABOUT_STUDENT'
        | translate}}</h3>
</div>

<div class="modal-body modal-padding">
    <form name="editStudentForm" id="editStudentForm" role="form" ng-submit="onEditStudentFormSubmit()"
          class="form-group" novalidate>

        <div class="panel panel-primary">
            <div class="panel-heading">
                {{'GENERAL_INFORMATION' | translate}}
            </div>
            <div class="panel-body">

                <div class="form-group row row-fields" show-errors>
                    <label class="control-label col-md-4" for="lastName">
                        {{'LAST_NAME' |translate }}
                    </label>

                    <div class="col-md-8">
                        <input id="lastName" name="lastName" class="form-control"
                               type="text" ng-model="$root.student.lastName"
                               ng-pattern="FIRST_LAST_NAME_REGEX"
                               popover="{{'ALPHABETIC_INFO' | translate}}"
                               popover-trigger="focus" popover-placement="top" required>
							<span class="form-control-feedback glyphicon
						 	form-horizontal glyphicon glyphicon-ok-sign"></span>

                        <p class="help-block" ng-if="editStudentForm.lastName.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'REQUIRED' | translate}}
                        </p>

                        <p class="help-block" ng-if="editStudentForm.lastName.$error.pattern">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'INCORRECT_VALUE_LAST_NAME_ADD_EMPLOYEE' | translate }}
                        </p>
                    </div>
                </div>

                <div class="form-group row row-fields" show-errors>
                    <label class="control-label col-md-4" for="firstName">
                        {{'FIRST_NAME' |translate }}
                    </label>

                    <div class="col-md-8">
                        <input id="firstName" name="firstName" class="form-control"
                               type="text" ng-model="$root.student.firstName"
                               ng-pattern="FIRST_LAST_NAME_REGEX"
                               popover="{{'ALPHABETIC_INFO' | translate}}"
                               popover-trigger="focus" popover-placement="top" required>
							<span class="form-control-feedback glyphicon
						 	form-horizontal glyphicon glyphicon-ok-sign"></span>

                        <p class="help-block" ng-if="editStudentForm.firstName.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'REQUIRED' | translate}}
                        </p>

                        <p class="help-block" ng-if="editStudentForm.firstName.$error.pattern">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'INCORRECT_VALUE_LAST_NAME_ADD_EMPLOYEE' | translate }}
                        </p>
                    </div>
                </div>

                <div class="form-group row row-fields" show-errors>
                    <label class="control-label col-md-4" for="middleName">
                        {{'MIDDLE_NAME' |translate }}
                    </label>

                    <div class="col-md-8">
                        <input id="middleName" name="middleName" class="form-control"
                               type="text" ng-model="$root.student.middleName"
                               ng-pattern="MIDDLE_NAME_REGEX"
                               popover="{{'ALPHABETIC_INFO' | translate}}"
                               popover-trigger="focus" popover-placement="top" required>
							<span class="form-control-feedback glyphicon
						 	form-horizontal glyphicon glyphicon-ok-sign"></span>

                        <p class="help-block" ng-if="editStudentForm.middleName.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'REQUIRED' | translate}}
                        </p>

                        <p class="help-block" ng-if="editStudentForm.middleName.$error.pattern">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'INCORRECT_VALUE_LAST_NAME_ADD_EMPLOYEE' | translate }}
                        </p>
                    </div>
                </div>


                <div class="form-group row row-fields" show-errors>
                    <label class="control-label col-md-4" for="numberGradebook">
                        {{'NUMBER_GRADEBOOK' |translate }}
                    </label>

                    <div class="col-md-8">
                        <input id="numberGradebook" name="numberGradebook" class="form-control"
                               type="text" ng-model="$root.student.numberGradebook" required>
							<span class="form-control-feedback glyphicon
						 	form-horizontal glyphicon glyphicon-ok-sign"></span>

                        <p class="help-block" ng-if="editStudentForm.numberGradebook.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'REQUIRED' | translate}}
                        </p>

                        <p class="help-block" ng-if="editStudentForm.numberGradebook.$error.pattern">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'INCORRECT_VALUE_LAST_NAME_ADD_EMPLOYEE' | translate }}
                        </p>
                    </div>
                </div>

            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                {{'USER_INFORMATION' | translate}}
            </div>
            <div class="panel-body">


            </div>
        </div>

        <hr>
        <div class="form-group row row-buttons">
            <button type="submit" class="btn btn-success col-md-2 col-sm-12 col-xs-12 col-lg-2">
                {{'EDIT' | translate}}
            </button>
            <div class="col-md-8 col-sm-0 col-xs-0 col-lg-8">
                <p>
                </p>
            </div>

            <input type="button" class="btn btn-danger col-md-2 col-sm-12 col-xs-12 col-lg-2 pull-right"
                   value="{{'CLOSE' | translate}}" ng-click="closeModal()">
        </div>

    </form>
</div>