<div class="modal-header">
    <h3 class="modal-title">{{'FILL_IN_INFORMATION_ABOUT_STUDENT'
        | translate}}</h3>
</div>

<div class="modal-body modal-padding">
    <form name="editStudentForm" id="editStudentForm" role="form" ng-submit="onEditStudentFormSubmit()"
          class="form-group" novalidate>

        <div class="panel panel-primary">
            <div class="panel-heading">
                {{'GENERAL_INFORMATION' | translate}}
            </div>
            <div class="panel-body">

                <div class="form-group row row-fields" show-errors>
                    <label class="control-label col-md-4" for="lastName">
                        {{'LAST_NAME' |translate }}
                    </label>

                    <div class="col-md-8">
                        <input id="lastName" name="lastName" class="form-control"
                               type="text" ng-model="$root.student.lastName"
                               ng-pattern="FIRST_LAST_NAME_REGEX"
                               popover="{{'ALPHABETIC_INFO' | translate}}"
                               popover-trigger="focus" popover-placement="top" required>
							<span class="form-control-feedback glyphicon
						 	form-horizontal glyphicon glyphicon-ok-sign"></span>

                        <p class="help-block" ng-if="editStudentForm.lastName.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'REQUIRED' | translate}}
                        </p>

                        <p class="help-block" ng-if="editStudentForm.lastName.$error.pattern">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'INCORRECT_VALUE_LAST_NAME_ADD_EMPLOYEE' | translate }}
                        </p>
                    </div>
                </div>

                <div class="form-group row row-fields" show-errors>
                    <label class="control-label col-md-4" for="firstName">
                        {{'FIRST_NAME' |translate }}
                    </label>

                    <div class="col-md-8">
                        <input id="firstName" name="firstName" class="form-control"
                               type="text" ng-model="$root.student.firstName"
                               ng-pattern="FIRST_LAST_NAME_REGEX"
                               popover="{{'ALPHABETIC_INFO' | translate}}"
                               popover-trigger="focus" popover-placement="top" required>
							<span class="form-control-feedback glyphicon
						 	form-horizontal glyphicon glyphicon-ok-sign"></span>

                        <p class="help-block" ng-if="editStudentForm.firstName.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'REQUIRED' | translate}}
                        </p>

                        <p class="help-block" ng-if="editStudentForm.firstName.$error.pattern">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'INCORRECT_VALUE_LAST_NAME_ADD_EMPLOYEE' | translate }}
                        </p>
                    </div>
                </div>

                <div class="form-group row row-fields" show-errors>
                    <label class="control-label col-md-4" for="middleName">
                        {{'MIDDLE_NAME' |translate }}
                    </label>

                    <div class="col-md-8">
                        <input id="middleName" name="middleName" class="form-control"
                               type="text" ng-model="$root.student.middleName"
                               ng-pattern="MIDDLE_NAME_REGEX"
                               popover="{{'ALPHABETIC_INFO' | translate}}"
                               popover-trigger="focus" popover-placement="top" required>
							<span class="form-control-feedback glyphicon
						 	form-horizontal glyphicon glyphicon-ok-sign"></span>

                        <p class="help-block" ng-if="editStudentForm.middleName.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'REQUIRED' | translate}}
                        </p>

                        <p class="help-block" ng-if="editStudentForm.middleName.$error.pattern">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'INCORRECT_VALUE_LAST_NAME_ADD_EMPLOYEE' | translate }}
                        </p>
                    </div>
                </div>

                <div class="form-group row row-fields" show-errors>
                    <label for="group" class="control-label col-md-4">
                        {{'GROUP' | translate}}
                    </label>

                    <div class="col-md-8">
                        <ui-select type="text" theme="select2" class="form-control"
                                   ng-model="chooseData.group"
                                   name="group" id="group" required>
                            <ui-select-match placeholder="{{'SELECT_SUBJECT_TITLE' | translate}}" allow-clear="true">
                                {{$select.selected.title}}
                            </ui-select-match>
                            <ui-select-choices repeat="group in groups | filter: $select.search">
                                <span ng-bind-html="group.title"></span>
                            </ui-select-choices>
                        </ui-select>

                        <p class="help-block" ng-if="editStudentForm.group.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'REQUIRED' | translate}}
                        </p>
                    </div>
                </div>



                <div class="form-group row row-fields" show-errors>
                    <label class="control-label col-md-4" for="numberGradebook">
                        {{'NUMBER_GRADEBOOK' |translate }}
                    </label>

                    <div class="col-md-8">
                        <input id="numberGradebook" name="numberGradebook" class="form-control"
                               type="text" ng-model="$root.student.numberGradebook" required>
							<span class="form-control-feedback glyphicon
						 	form-horizontal glyphicon glyphicon-ok-sign"></span>

                        <p class="help-block" ng-if="editStudentForm.numberGradebook.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'REQUIRED' | translate}}
                        </p>

                        <p class="help-block" ng-if="editStudentForm.numberGradebook.$error.pattern">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'INCORRECT_VALUE_LAST_NAME_ADD_EMPLOYEE' | translate }}
                        </p>
                    </div>
                </div>

            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                {{'USER_INFORMATION' | translate}}
            </div>
            <div class="panel-body">
                <div class="form-group row row-fields" show-errors>
                    <label for="username" class="control-label col-md-4">
                        {{'LOGIN' | translate}}
                    </label>

                    <div class="col-md-8">
                        <input type="text" ng-model="$root.student.username"
                               ng-blur="checkIfUsernameIsAvailable()"
                               ng-pattern="USERNAME_REGEX" id="username" name="username"
                               class="form-control" popover="Введіть логін адміна організації"
                               popover-trigger="focus" popover-placement="top" readonly required>
							<span class="form-control-feedback glyphicon
							 form-horizontal glyphicon glyphicon-ok-sign"></span>

                        <p class="help-block" ng-if="editStudentForm.username.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'REQUIRED' | translate}}
                        </p>

                        <p class="help-block" ng-if="!isUsernameAvailable">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'LOGIN_ISNT_AVAILABLE' | translate }}
                        </p>

                        <p class="help-block" ng-if="editStudentForm.username.$error.pattern">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'LOGIN_HAS_INVALID_LENGTH' | translate }}
                        </p>
                    </div>
                </div>
                <div class="form-group row row-fields">
                    <label class="control-label col-md-4">
                        {{'PASSWORD' | translate}}
                    </label>
                    <div class="col-md-8">
                        <input type="button" class="btn btn-warning btn-block"
                               ng-click="changePassword()" ng-hide="generationMessage" value ="{{'GENERATE_PASSWORD' |
                                translate}}"/>

                    </div>
                    <div class="col-md-8" ng-show="generationMessage"> {{'NEW_PASSWORD_AUTOGENERATE' |
                        translate}
                    </div>
                </div>
                <div class="form-group row row-fields" show-errors>
                    <label for="email" class="control-label col-md-4">
                        {{'EMAIL' | translate}}
                    </label>

                    <div class="col-md-8">
                        <input id="email" name="email" type="email" class="form-control"
                               ng-model="$root.student.email" placeholder="example@gmail.com"
                               ng-pattern="EMAIL_REGEX" required> <span
                            class="form-control-feedback glyphicon  form-horizontal glyphicon glyphicon-ok-sign"></span>

                        <p class="help-block" ng-if="editStudentForm.email.$error.email || editStudentForm.email.$error.pattern">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'EMAIL_ERROR' | translate}}<i>example@gmail.com</i>
                        </p>
                        <p class="help-block" ng-if="editStudentForm.email.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'REQUIRED' | translate}}
                        </p>
                    </div>
                </div>
                <div class="form-group row row-fields" show-errors>
                    <label for="phoneNumber" class="control-label col-md-4">
                        {{'PHONE_NUMBER' | translate}}
                    </label>

                    <div class="col-md-8">
                        <div class="input-group">
                            <span class="input-group-addon">+38</span>
                            <input id="phoneNumber" name="phoneNumber" type="tel"
                                   class="form-control col-md-8 " ng-model="$root.student.phone"
                                   placeholder="XXXXXXXXXX" ng-pattern="PHONE_REGEX" required>
                        </div>
                        <p class="help-block"
                           ng-if="editStudentForm.phoneNumber.$error.pattern">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'PHONE_NUMBER_ERROR' | translate}}</p>

                        <p class="help-block"
                           ng-if="editStudentForm.phoneNumber.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'REQUIRED' | translate}}
                        </p>
                    </div>
                </div>
                <div class="form-group row row-fields" show-errors>
                    <label for="enable" class="control-label col-md-4">
                        {{'ENABLE' | translate}}
                    </label>

                    <div class="col-md-8">
                        <ui-select class="form-control" type="text" ng-model="defaultData.enable" theme="select2"
                                   search-enabled="false" name="enable" id="enable" required>
                            <ui-select-match placeholder="{{'STATUS_SELECT_PLACEHOLDER_DEGREE' | translate}}"
                                             allow-clear="true">
                                {{$select.selected.label}}
                            </ui-select-match>
                            <ui-select-choices
                                    repeat="enable in enableData">
                                <span ng-bind-html="enable.label"></span>
                            </ui-select-choices>
                        </ui-select>

                        <p class="help-block" ng-if="editStudentForm.enable.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'REQUIRED' | translate}}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <hr>
        <div class="form-group row row-buttons">
            <button type="submit" class="btn btn-success col-md-2 col-sm-12 col-xs-12 col-lg-2">
                {{'EDIT' | translate}}
            </button>
            <div class="col-md-8 col-sm-0 col-xs-0 col-lg-8">
                <p>
                </p>
            </div>

            <input type="button" class="btn btn-danger col-md-2 col-sm-12 col-xs-12 col-lg-2 pull-right"
                   value="{{'CLOSE' | translate}}" ng-click="closeModal()">
        </div>

    </form>
</div>