<div class="modal-header">
    <h3 class="modal-title">{{'FILL_IN_INFORMATION_ABOUT_SUBJECT'
        | translate}}</h3>
</div>

<div class="modal-body modal-padding">
    <form name="editSubjectForm" id="editSubjectForm" role="form" ng-submit="onEditSubjectFormSubmit()"
          class="form-group" novalidate>

        <div class="form-group row row-fields" show-errors>
            <label for="title" class="control-label col-md-4">
                {{'TITLE_SUBJECT' | translate}}
            </label>

            <div class="col-md-8">
                <input id="title" name="title" class="form-control"
                       type="text" ng-model="$root.subject.title"
                       ng-pattern="SUBJECT_NAME" required>
							<span class="form-control-feedback glyphicon
						 	form-horizontal glyphicon glyphicon-ok-sign"></span>

                <p class="help-block" ng-if="editSubjectForm.title.$error.required">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    {{'REQUIRED' | translate}}
                </p>

                <p class="help-block" ng-if="editSubjectForm.title.$error.pattern">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    {{'INCORRECT_VALUE_SUBJECT_NAME' | translate }}
                </p>
            </div>
        </div>

        <div class="form-group row row-fields" show-errors>
            <label for="multiplier" class="control-label col-md-4">
                {{'MULTIPLIER' | translate}}
            </label>

            <div class="col-md-8">
                <input id="multiplier" name="multiplier" class="form-control"
                       type="text" ng-model="$root.subject.multiplier"
                       ng-pattern="MULTIPLIER_NAME" required>
							<span class="form-control-feedback glyphicon
						 	form-horizontal glyphicon glyphicon-ok-sign"></span>

                <p class="help-block" ng-if="editSubjectForm.multiplier.$error.required">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    {{'REQUIRED' | translate}}
                </p>

                <p class="help-block" ng-if="editSubjectForm.multiplier.$error.pattern">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    {{'INCORRECT_VALUE_SUBJECT_MULTIPLIER' | translate }}
                </p>
            </div>
        </div>

        <div class="form-group row row-fields" show-errors>
            <label for="hours" class="control-label col-md-4">
                {{'HOURS' | translate}}
            </label>

            <div class="col-md-8">
                <input id="hours" name="hours" class="form-control"
                       type="number" ng-model="$root.subject.hours"
                       min="1" max="1000" required>
							<span class="form-control-feedback glyphicon
						 	form-horizontal glyphicon glyphicon-ok-sign"></span>

                <p class="help-block" ng-if="editSubjectForm.hours.$error.required">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    {{'REQUIRED' | translate}}
                </p>

                <p class="help-block" ng-if="editSubjectForm.hours.$error.min || editSubjectForm.hours.$error.max">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    {{'INCORRECT_VALUE_SUBJECT_HOURS' | translate }}
                </p>
            </div>
        </div>

        <hr>
        <div class="form-group row row-buttons">
            <button type="submit" class="btn btn-success col-md-2 col-sm-12 col-xs-12 col-lg-2">
                {{'EDIT' | translate}}
            </button>
            <div class="col-md-8 col-sm-0 col-xs-0 col-lg-8">
                <p>
                </p>
            </div>

            <input type="button" class="btn btn-danger col-md-2 col-sm-12 col-xs-12 col-lg-2 pull-right"
                   value="{{'CLOSE' | translate}}" ng-click="closeModal()">
        </div>
    </form>
</div>