<div class="modal-header">
    <h3 class="modal-title">{{'FILL_IN_INFORMATION_ABOUT_GROUP'
        | translate}}</h3>
</div>

<div class="modal-body modal-padding">
    <form name="addQuestionForm" id="addQuestionForm" role="form" ng-submit="onAddQuestionFormSubmit()"
          class="form-group" novalidate>
        <div class="form-group row row-fields" show-errors>
            <label class="control-label col-md-3" for="questionText">
                {{'QUESTION_TEXT' |translate }}
            </label>

            <div class="col-md-9">
                <textarea id="questionText" name="questionText" class="form-control" rows="3"
                          ng-model="addQuestionFormData.questionText" maxlength="1000" required></textarea>
                <p class="help-block" ng-if="addQuestionForm.questionText.$error.required">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    {{'REQUIRED' | translate}}
                </p>
            </div>
        </div>

        <div class="form-group row row-fields" show-errors>
            <label for="questionType" class="control-label col-md-3">
                {{'QUESTION_TYPE' | translate}}
            </label>

            <div class="col-md-9">
                <ui-select name="questionType" id="questionType" class="form-control"
                           type="text" ng-model="addQuestionFormData.questionType" theme="select2"
                           search-enabled="false" on-select="" required>
                    <ui-select-match placeholder="{{'STATUS_SELECT_PLACEHOLDER_DEGREE' | translate}}"
                                     allow-clear="true">
                        {{$select.selected.label}}
                    </ui-select-match>
                    <ui-select-choices
                            repeat="questionType in questionTypeData">
                        <span ng-bind-html="questionType.label"></span>
                    </ui-select-choices>
                </ui-select>

                <p class="help-block" ng-if="addQuestionForm.questionType.$error.required">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    {{'REQUIRED' | translate}}
                </p>
            </div>
        </div>

        <div class="form-group row row-fields" data-ng-repeat="choice in choices" ng-show="addQuestionFormData.questionType !== undefined">
            <label  class="control-label col-md-3">
                {{'ANSWER' | translate}}
            </label>
            <div class="col-md-9" ng-show="addQuestionFormData.questionType.id === 'MULTI'">
                <div class="input-group">
                    <span class="input-group-addon">
                    <input type="checkbox" ng-model="choice.correct"
                           value="choice.correct">
                    </span>
                <textarea class="form-control" rows="3" ng-model="choice.text" maxlength="500"
                          placeholder="Enter your answer">
                </textarea>
                    <span class="input-group-addon" ng-show="$last">
                        <i class="glyphicon glyphicon-minus" ng-click="removeChoice()"></i>
                    </span>
                </div>
            </div>
            <div class="col-md-9" ng-show="addQuestionFormData.questionType.id === 'ONE'">
                <div class="input-group">
                    <span class="input-group-addon">
                    <input type="radio" name="answer" model="choice.correct" value="true" ng-click="setChoiceForQuestion(choice)">
                    </span>
                <textarea class="form-control" rows="3" ng-model="choice.text" maxlength="500"
                          placeholder="Enter your answer">
                </textarea>
                    <span class="input-group-addon" ng-show="$last">
                        <i class="glyphicon glyphicon-minus" ng-click="removeChoice()"></i>
                    </span>
                </div>
            </div>
        </div>

        <div class="form-group row row-buttons" ng-show="addQuestionFormData.questionType !== undefined">
            <div class="col-md-3 col-sm-12 col-xs-12 col-lg-3">
                <p></p>
            </div>
            <div class="col-md-9 col-sm-12 col-xs-12 col-lg-9">
                <input type="button" class="btn btn-primary btn-block pull-right"
                       value="{{'ADD_ANSWER' | translate }}" ng-click="addNewChoice()">
            </div>
        </div>

        <div class="well well-lg modal-padding">
            {{addQuestionFormData}}
        </div>

        <div class="well well-lg modal-padding">
            {{choices}}
        </div>
        <hr>
        <div class="form-group row row-buttons">
            <button type="submit" class="btn btn-success col-md-2 col-sm-12 col-xs-12 col-lg-2">
                {{'ADD' | translate}}
            </button>
            <input type="reset" class="btn btn-warning col-md-2 col-sm-12 col-xs-12 col-lg-2"
                   value="{{'CLEAR_FORM' | translate }}" ng-click="resetAddQuestionForm()">

            <div class="col-md-6 col-sm-0 col-xs-0 col-lg-6">
                <p></p>
            </div>

            <input type="button" class="btn btn-danger col-md-2 col-sm-12 col-xs-12 col-lg-2 pull-right"
                   value="{{'CLOSE' | translate}}" ng-click="closeModal()">
        </div>
    </form>
</div>