<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/resources/assets/bower_components/bootstrap/dist/css/bootstrap.css"
          rel="stylesheet">

    <style>
        /*styles for the carousel*/

        /*arrows styling*/
        .slick-prev:before, .slick-next:before {
            color:black !important;
            font-size: 25pt;
        }

        /*for image centering*/
        .slick-slide img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>

<body ng-controller="WelcomePageController">
<!-- Image Background Page Header -->
<!-- Note: The background image is set within the business-casual.css file. -->
<header class="business-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <br/>
                <br/>
                <br/>
                <h1 class="tagline">{{ 'HEAD_TITLE' | translate }}</h1>
            </div>
        </div>
    </div>
</header>

<!-- Page Content -->
<div class="container">

    <hr>

    <div class="row">
        <div class="col-sm-4">
            <img class="img-circle img-responsive img-center" src="/resources/assets/img/People-Icon.png" alt="">
            <h2>{{'MARKERTING_BOX_FIRST_HEADER' | translate}}</h2>
            <p>{{'MARKERTING_BOX_FIRST_PARAGRAPH' | translate}}</p>
        </div>
        <div class="col-sm-4">
            <img class="img-circle img-responsive img-center" src="/resources/assets/img/Books-ebooks.png" alt="">
            <h2>{{'MARKERTING_BOX_SECOND_HEADER' | translate}}</h2>
            <p>{{'MARKERTING_BOX_SECOND_PARAGRAPH' | translate}}</p>
        </div>
        <div class="col-sm-4">
            <img class="img-circle img-responsive img-center" src="/resources/assets/img/environment.png" alt="">
            <h2>{{'MARKERTING_BOX_THIRD_HEADER' | translate}}</h2>
            <p>{{'MARKERTING_BOX_THIRD_PARAGRAPH' | translate}}</p>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <div class="row">
        <div class="col-sm-8">
            <h2>{{'MARKERTING_BOX_FOURTH_HEADER' | translate}}</h2>
            <p>{{'MARKERTING_BOX_FOURTH_PARAGRAPH' | translate}}</p>
        </div>
        <div class="col-sm-4">
            <h2>{{'MARKERTING_BOX_FIFTH_HEADER' | translate}}</h2>
            <address>
                {{'MARKERTING_BOX_FIFTH_PARAGRAPH' | translate}}
            </address>
        </div>
    </div>
    <!-- /.row -->



    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Dmytro Brylyuk 2015</p>
            </div>
        </div>
        <!-- /.row -->
    </footer>

</div>
<!-- /.container -->


<div class="row">
    <div class="container-fluid">
        <div class="container">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <slick
                        infinite="true"
                        arrows="true"
                        autoplay="true"
                        autoplaySpeed="3200"
                        speed="800"
                        fade="true">
                    <div ng-repeat="slide in slides">
                        <img data-lazy="{{slide}}">
                    </div>
                </slick>
            </div>
            <div class="col-md-2"></div>

        </div>
    </div>
</div>
</body>


