<div class="modal-header">
    <h3 class="modal-title">{{'ADD_SUBJECT_NAME'
        | translate}}</h3>
</div>

<div class="modal-body modal-padding">
    <form name="addSubjectForm" id="addSubjectForm" role="form" ng-submit="onAddSubjectFormSubmit()"
          class="form-group" novalidate>

        <div class="form-group row row-fields" show-errors>
            <label class="control-label col-md-4" for="subjectTitle">
                {{'SUBJECT' |translate }}
            </label>

            <div class="col-md-8">
                <ui-select type="text" theme="select2" class="form-control"
                           ng-model="chooseData.subjectTitle"
                           on-select="receiveTests(chooseData.subjectTitle)"
                           name="subjectTitle" id="subjectTitle" required>
                    <ui-select-match placeholder="{{'SELECT_SUBJECT_TITLE' | translate}}" allow-clear="true">
                        {{$select.selected.title}}
                    </ui-select-match>
                    <ui-select-choices repeat="subject in subjects | filter: $select.search">
                        <span ng-bind-html="subject.title"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>


        <hr>
        <div class="form-group row row-buttons">
            <button type="submit" class="btn btn-success col-md-2 col-sm-12 col-xs-12 col-lg-2">
                {{'ADD' | translate}}
            </button>
            <input type="reset" class="btn btn-warning col-md-2 col-sm-12 col-xs-12 col-lg-2"
                   value="{{'CLEAR_FORM' | translate }}" ng-click="resetAddSubjectForm()">

            <div class="col-md-6 col-sm-0 col-xs-0 col-lg-6">
                <p></p>
            </div>

            <input type="button" class="btn btn-danger col-md-2 col-sm-12 col-xs-12 col-lg-2 pull-right"
                   value="{{'CLOSE' | translate}}" ng-click="closeModal()">
        </div>
    </form>
</div>