<div class="modal-header">
    <h3 class="modal-title">{{'LIST_OF_GROUPS'
        | translate}}</h3>
</div>

<div class="modal-body">

    <div class="row">
        <table class="table table-bordered col-lg-12">
        <thead>
        <tr>
            <th>{{'TITLE_GROUP' | translate}}</th>
            <th>{{'GRADE' | translate}}</th>
            <th>{{'DEGREE' | translate}}</th>
            <th>{{'STUDYFORM' | translate}}</th>
        </tr>
        </thead>
        <tbody>

        <tr ng-repeat="group in $root.groups">
            <td>{{ group.title }}</td>
            <td>{{ group.grade }}</td>
            <td>{{ group.degree | translate }}</td>
            <td>{{ group.studyForm | translate }}</td>
        </tr>
        </tbody>
    </table></div>

</div>