<div class="modal-header">
    <h3 class="modal-title">{{'FILL_IN_INFORMATION_ABOUT_SUBJECT'
        | translate}}</h3>
</div>

<div class="modal-body">
    <div class="row">
        <table class="table table-bordered col-lg-12">
            <thead>
            <tr>
                <th>{{'TITLE_TEST' | translate}}</th>
                <th>{{'TEST_TYPE' | translate}}</th>
                <th>{{'MAX_GRADE' | translate}}</th>
                <th>{{'AVAIBLE' | translate}}</th>
            </tr>
            </thead>
            <tbody>

            <tr ng-repeat="test in $root.tests">
                <td>{{ test.title }}</td>
                <td>{{ test.testType }}</td>
                <td>{{ test.maxGrade }}</td>
                <td>{{ test.avaible }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>