<div id="page-wrapper" ng-controller="SubjectPanelController">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ 'SUBJECTS' | translate }}</h1>
        </div>
    </div>

    <p></p>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table show-filter="true" ng-table="tableParams" template-pagination="custom/pager"
                       class="table table-bordered table-hover users_table">
                    <tbody>
                    <tr ng-repeat="subject in $data">
                        <td data-title="'TITLE_SUBJECT' | translate" sortable="'title'"
                            filter="{ 'title': 'text' }" >
                            {{ subject.title }}
                        </td>
                        <td data-title="'MULTIPLIER' | translate " sortable="'multiplier'"
                            filter="{ 'multiplier': 'text' }">{{ subject.multiplier }}
                        </td>
                        <td data-title="'HOURS' | translate" sortable="'hours'"
                            filter="{ 'hours': 'text' }">{{ subject.hours }}
                        </td>
                        <td data-title="'NUMBER_OF_GROUPS' | translate">{{ subject.numberOfGroups }}
                        </td>
                        <td data-title="'NUMBER_OF_TESTS' | translate">{{ subject.numberOfTests }}
                        </td>
                        <td data-title="'ACTIONS' | translate" class="text-center">
                            <div class="btn-group-vertical">
                                <button type="button" class="btn btn-warning"
                                        ng-click="openListOfGroups(subject.id)">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                                <button type="button" class="btn btn-danger"
                                        ng-click="openListOfTests(subject.id)">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <script type="text/ng-template" id="custom/pager">
                <div>
                    <ul class="pager ng-cloak">
                        <li ng-repeat="page in pages"
                            ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
                            ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
                            <a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo;
                                Previous</a>
                            <a ng-switch-when="next" ng-click="params.page(page.number)"
                               href="">Next &raquo;</a>
                        </li>
                        <li>
                            <div class="btn-group">
                                <button type="button" ng-class="{'active':params.count() == 5}"
                                        ng-click="params.count(5)" class="btn btn-default">5
                                </button>
                                <button type="button" ng-class="{'active':params.count() == 10}"
                                        ng-click="params.count(10)" class="btn btn-default">10
                                </button>
                                <button type="button" ng-class="{'active':params.count() == 25}"
                                        ng-click="params.count(25)" class="btn btn-default">25
                                </button>
                                <button type="button" ng-class="{'active':params.count() == 50}"
                                        ng-click="params.count(50)" class="btn btn-default">50
                                </button>
                            </div>
                        </li>
                    </ul>
                </div>
            </script>
        </div>
    </div>
</div>
</div>
<!-- /#page-wrapper -->
