<div id="page-wrapper" ng-controller="MainPanelController">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ 'MAIN_PANEL' | translate }}</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-blue">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-graduation-cap fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ statistics.results }}</div>
                            <div>{{'MY_RESULTS' | translate }}</div>
                        </div>
                    </div>
                </div>
                <a href="#/results">
                    <div class="panel-footer">
                        <span class="pull-left">{{ 'MORE' | translate }}</span>
                        <span class="pull-right"><i class="fa fa-arrow-right fa-5x"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-bank fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ statistics.groupResults }}</div>
                            <div>{{ 'GROUP_RESULTS' | translate }}</div>
                        </div>
                    </div>
                </div>
                <a href="#/results/group">
                    <div class="panel-footer">
                        <span class="pull-left">{{ 'MORE' | translate }}</span>
                        <span class="pull-right"><i class="fa fa-arrow-right fa-5x"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-6 ">
            <div class="panel panel-light-brown">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-book fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ statistics.subjects }}</div>
                            <div>{{ 'SUBJECTS' | translate }}</div>
                        </div>
                    </div>
                </div>
                <a href="#/subjects">
                    <div class="panel-footer">
                        <span class="pull-left">{{ 'MORE' | translate }}</span>
                        <span class="pull-right"><i class="fa fa-arrow-right fa-5x"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-light">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-users fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ statistics.tests }}</div>
                            <div>{{ 'TESTS' | translate }}</div>
                        </div>
                    </div>
                </div>
                <a href="#/tests">
                    <div class="panel-footer">
                        <span class="pull-left">{{ 'MORE' | translate }}</span>
                        <span class="pull-right"><i class="fa fa-arrow-right fa-5x"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="banner">        <div class="row">
            <timer autostart="false" class="timer-ban" style="font-family: 'Righteous', cursive; font-weight: 600; font-size: 50px;"
                   countdown="countdownVal" max-time-unit="'minute'" interval="1000">{{mminutes}}:{{sseconds}}</timer>
        </div></div>
    </div>
</div>