<div id="page-wrapper" ng-controller="TestsPanelController">
    <div id="table-tests" ng-show="testData.listQuestAns === undefined">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <h1 class="page-header">{{ 'TESTS' | translate }}</h1>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <p></p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                <button ng-click="clearAll()" ng-show="isFilter()"
                        class="btn btn-danger pull-right col-xs-12 col-sm-12 col-md-10 col-lg-10">
                    {{'CLEAR_ALL' | translate }}
                </button>
            </div>
        </div>

        <p></p>

        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table show-filter="true" ng-table="tableParams" template-pagination="custom/pager"
                           class="table table-bordered table-hover">
                        <tbody>
                        <tr ng-repeat="test in $data" ng-class="{incorrect : !test.avaible}">
                            <td data-title="'TITLE' | translate" sortable="'title'"
                                filter="{ 'title': 'text' }">
                                {{ test.title }}
                            </td>
                            <td data-title="'SUBJECT' | translate" sortable="'subject'"
                                filter="{ 'subject': 'text' }">
                                {{ test.subject }}
                            </td>
                            <td data-title="'TEST_TYPE' | translate" sortable="'type'"
                                filter="{ 'type': 'type' }">{{ test.type | translate }}
                            </td>
                            <td data-title="'MAX_GRADE' | translate" sortable="'maxGrade'"
                                filter="{ 'maxGrade': 'text' }">{{ test.maxGrade}}
                            </td>
                            <td data-title="'TEST_TIME' | translate" sortable="'time'"
                                filter="{ 'time': 'text' }">{{ test.time }}
                            </td>
                            <td data-title="'AVAIBLE' | translate" sortable="'avaible'"
                                filter="{ 'avaible': 'avaible' }">{{ test.avaible | translate }}
                            </td>
                            <td data-title="'ACTIONS' | translate" class="text-center">
                                <div class="btn-group">
                                    <button type="button" ng-hide="test.hasResult === true" class="btn btn-primary" ng-disabled="test.avaible === false"
                                            ng-click="getTestById(test.id)">
                                        <span class="glyphicon glyphicon-pencil"></span> {{'PASS_TEST' | translate}}
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <script type="text/ng-template" id="custom/pager">
                    <div>
                        <ul class="pager ng-cloak">
                            <li ng-repeat="page in pages"
                                ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
                                ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
                                <a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo;
                                    Previous</a>
                                <a ng-switch-when="next" ng-click="params.page(page.number)"
                                   href="">Next &raquo;</a>
                            </li>
                            <li>
                                <div class="btn-group">
                                    <button type="button" ng-class="{'active':params.count() == 5}"
                                            ng-click="params.count(5)" class="btn btn-default">5
                                    </button>
                                    <button type="button" ng-class="{'active':params.count() == 10}"
                                            ng-click="params.count(10)" class="btn btn-default">10
                                    </button>
                                    <button type="button" ng-class="{'active':params.count() == 25}"
                                            ng-click="params.count(25)" class="btn btn-default">25
                                    </button>
                                    <button type="button" ng-class="{'active':params.count() == 50}"
                                            ng-click="params.count(50)" class="btn btn-default">50
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </script>
                <script type="text/ng-template" id="ng-table/filters/type.html">
                    <ui-select ng-model="selectedType.name" theme="select2" on-select='doSearch()'
                               search-enabled="false"
                               name="filter-type">
                        <ui-select-match placeholder="{{'STATUS_SELECT_PLACEHOLDER_ACADEMIC_STATUS' | translate}}"
                                         allow-clear="true">
                            {{$select.selected.label}}
                        </ui-select-match>
                        <ui-select-choices
                                repeat="type in typeData">
                            <span ng-bind-html="type.label"></span>
                        </ui-select-choices>
                    </ui-select>
                </script>
                <script type="text/ng-template" id="ng-table/filters/avaible.html">
                    <ui-select ng-model="selectedAvaible.name" theme="select2" on-select='doSearch()'
                               search-enabled="false"
                               name="filter-avaible">
                        <ui-select-match placeholder="{{'STATUS_SELECT_PLACEHOLDER_ACADEMIC_STATUS' | translate}}"
                                         allow-clear="true">
                            {{$select.selected.label}}
                        </ui-select-match>
                        <ui-select-choices
                                repeat="avaible in avaibleData">
                            <span ng-bind-html="avaible.label"></span>
                        </ui-select-choices>
                    </ui-select>
                </script>
            </div>
        </div>
    </div>
    <div id="pass-tests" ng-hide="testData.listQuestAns === undefined">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="jumbotron">
                    <div class="container">

                        <p class="name-field">{{'TITLE_SUBJECT' | translate}}</p>

                        <p>{{testData.subject}}</p>

                        <p class="name-field">{{'TEST_TITLE' | translate}}</p>

                        <p>{{testData.title}}</p>

                        <p class="name-field">{{'TEST_TYPE' | translate}}</p>

                        <p>{{testData.type | translate}}</p>

                        <p class="name-field">{{'MAX_GRADE' | translate}}</p>

                        <p>{{testData.maxGrade}}</p>

                        <p class="name-field">{{'TEST_TIME' | translate}}</p>

                        <p>{{testData.time}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-repeat="question in testData.listQuestAns">
            <div class="col-lg-2 col-md-2 col-sm-1 col-xs-0"><p></p></div>
            <div class="panel panel-primary panel-questions col-lg-8 col-md-8 col-sm-10 col-xs-12">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-lg-12">
                            <p>{{'QUESTION' | translate}} №{{$index+1}}</p>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <label class="control-label col-md-12">{{question.text}}</label>
                    </div>
                    <p></p>

                    <p></p>

                    <div class="row" ng-show="question.questionType === 'MULTI'">
                        <label class="col-md-10 col-lg-10 col-sm-10 col-xs-10 pull-left answer-margin"
                               ng-repeat="answer in question.answerDTOList">
                            <input type="checkbox" ng-model="answer.correct" ng-checked="answer.correct"
                                   value="answer.correct" ng-init="answer.correct = false">
                            {{answer.text}}
                        </label>
                    </div>
                    <div class="row" ng-show="question.questionType === 'ONE'">
                        <div class="input-group">
                            <label class="col-md-10 col-lg-10 col-sm-10 col-xs-10 pull-left answer-margin"
                                   ng-repeat="answer in question.answerDTOList">
                                <input type="radio" model="answer.correct" value="true"
                                       ng-click="setChoiceForQuestion(question.answerDTOList, answer)"
                                       name="{{question.id}}" ng-init="answer.correct = false">
                                {{answer.text}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-1 col-xs-0"><p></p></div>
        </div>
        <div class="row">
            <button type="submit" class="btn btn-success col-lg-4 col-lg-offset-4 col-xs-12 col-sm-12" ng-click="SubmitTest()">
                {{'END_TEST' | translate}}
            </button>
        </div>
        <div class="banner" ng-show="showingCounter !== undefined">
            <div class="row">
                <div class="col-lg-12">
                    <timer autostart="false" class="timer-ban" style="font-family: 'Righteous', cursive; font-weight: 600; font-size: 50px;"
                           ng-attr-countdown="countdownVal" max-time-unit="'minute'" interval="1000">{{mminutes}}:{{sseconds}}</timer>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /#page-wrapper -->
