<div class="modal-header">
    <h3 class="modal-title">{{'FILL_IN_INFORMATION_ABOUT_SUBJECT'
        | translate}}</h3>
</div>

<div class="modal-body">
    <form name="editSubjectForm" id="editSubjectForm" role="form" ng-submit="onEditSubjectFormSubmit()"
          class="form-group" novalidate>

        <div class="form-group row" show-errors>
            <label for="title" class="control-label col-md-4">
                {{'TITLE_SUBJECT' | translate}}
            </label>

            <div class="col-md-8">
                <input id="title" name="title" class="form-control"
                       type="text" ng-model="$root.subject.title"
                       ng-pattern=""
                       popover="{{'ALPHABETIC_INFO' | translate}}"
                       popover-trigger="focus" popover-placement="top" required>
							<span class="form-control-feedback glyphicon
						 	form-horizontal glyphicon glyphicon-ok-sign"></span>

                <p class="help-block" ng-if="editSubjectForm.title.$error.required">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    {{'REQUIRED' | translate}}
                </p>

                <p class="help-block" ng-if="editSubjectForm.title.$error.pattern">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    {{'INCORRECT_VALUE_LAST_NAME_ADD_EMPLOYEE' | translate }}
                </p>
            </div>
        </div>

        <div class="form-group row" show-errors>
            <label for="multiplier" class="control-label col-md-4">
                {{'MULTIPLIER' | translate}}
            </label>

            <div class="col-md-8">
                <input id="multiplier" name="multiplier" class="form-control"
                       type="text" ng-model="$root.subject.multiplier"
                       ng-pattern=""
                       popover="{{'ALPHABETIC_INFO' | translate}}"
                       popover-trigger="focus" popover-placement="top" required>
							<span class="form-control-feedback glyphicon
						 	form-horizontal glyphicon glyphicon-ok-sign"></span>

                <p class="help-block" ng-if="editSubjectForm.multiplier.$error.required">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    {{'REQUIRED' | translate}}
                </p>

                <p class="help-block" ng-if="editSubjectForm.multiplier.$error.pattern">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    {{'INCORRECT_VALUE_LAST_NAME_ADD_EMPLOYEE' | translate }}
                </p>
            </div>
        </div>

        <div class="form-group row" show-errors>
            <label for="hours" class="control-label col-md-4">
                {{'HOURS' | translate}}
            </label>

            <div class="col-md-8">
                <input id="hours" name="hours" class="form-control"
                       type="number" ng-model="$root.subject.hours"
                       ng-pattern=""
                       popover="{{'ALPHABETIC_INFO' | translate}}"
                       popover-trigger="focus" popover-placement="top" required>
							<span class="form-control-feedback glyphicon
						 	form-horizontal glyphicon glyphicon-ok-sign"></span>

                <p class="help-block" ng-if="editSubjectForm.hours.$error.required">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    {{'REQUIRED' | translate}}
                </p>

                <p class="help-block" ng-if="editSubjectForm.hours.$error.pattern">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    {{'INCORRECT_VALUE_LAST_NAME_ADD_EMPLOYEE' | translate }}
                </p>
            </div>
        </div>




        <div class="form-group row">
            <div class="col-md-10">
                <button type="submit" class="btn btn-success">
                    {{'EDIT' | translate}}
                </button>
            </div>
            <div class="col-md-2">
                <button class="btn btn-danger pull-right" ng-click="closeModal()">{{'CLOSE'
                    | translate}}
                </button>
            </div>
        </div>
    </form>
</div>