<div class="modal-header">
    <h3 class="modal-title">{{'FILL_IN_INFORMATION_ABOUT_SUBJECT'
        | translate}}</h3>
</div>

<div class="modal-body">
    <form name="addSubjectForm" id="addSubjectForm" role="form" ng-submit="onAddSubjectFormSubmit()"
          class="form-group" novalidate>
        <div class="form-group row" show-errors>
            <label class="control-label col-md-4" for="title">
                {{'TITLE_SUBJECT' |translate }}
            </label>

            <div class="col-md-8">
                <input id="title" name="title" class="form-control"
                       type="text" ng-model="addSubjectFormData.title"
                       ng-pattern="FIRST_LAST_NAME_REGEX"
                       popover="{{'ALPHABETIC_INFO' | translate}}"
                       popover-trigger="focus" popover-placement="top" required>
							<span class="form-control-feedback glyphicon
						 	form-horizontal glyphicon glyphicon-ok-sign"></span>

                <p class="help-block" ng-if="addSubjectForm.title.$error.required">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    {{'REQUIRED' | translate}}
                </p>

                <p class="help-block" ng-if="addSubjectForm.title.$error.pattern">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    {{'INCORRECT_VALUE_LAST_NAME_ADD_EMPLOYEE' | translate }}
                </p>
            </div>
        </div>
        
        <div class="form-group row" show-errors>
            <label class="control-label col-md-4" for="multiplier">
                {{'MULTIPLIER' | translate }}
            </label>

            <div class="col-md-8">
                <input type="number" ng-model="addSubjectFormData.multiplier" id="multiplier"
                       ng-pattern="CATEGORY_DEVICE_CODE" name="multiplier"
                       class="form-control" popover="Введіть код лічильника"
                       popover-trigger="focus" popover-placement="top" required>
						 	<span class="form-control-feedback glyphicon
						 	form-horizontal glyphicon glyphicon-ok-sign"></span>

                <p class="help-block" ng-if="addSubjectForm.multiplier.$error.required">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    {{'REQUIRED' | translate}}
                </p>

                <p class="help-block" ng-if="addSubjectForm.multiplier.$error.pattern">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    {{'ORGANIZATION_NAME_LENGTH' | translate }}
                </p>
            </div>
        </div>

        <div class="form-group row" show-errors>
            <label class="control-label col-md-4" for="hours">
                {{'HOURS' | translate }}
            </label>

            <div class="col-md-8">
                <input type="number" ng-model="addSubjectFormData.hours" id="hours"
                       ng-pattern="CATEGORY_DEVICE_CODE" name="hours"
                       class="form-control" popover="Введіть код лічильника"
                       popover-trigger="focus" popover-placement="top" required>
						 	<span class="form-control-feedback glyphicon
						 	form-horizontal glyphicon glyphicon-ok-sign"></span>

                <p class="help-block" ng-if="addSubjectForm.hours.$error.required">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    {{'REQUIRED' | translate}}
                </p>

                <p class="help-block" ng-if="addSubjectForm.hours.$error.pattern">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    {{'ORGANIZATION_NAME_LENGTH' | translate }}
                </p>
            </div>
        </div>


        <div class="form-group row">
            <div class="col-md-10">
                <button type="submit" class="btn btn-success">
                    {{'ADD' | translate}}
                </button>
                <button type="reset" class="btn btn-warning" ng-click="resetAddSubjectForm()">
                    {{'CLEAR_FORM' | translate }}
                </button>
            </div>
            <div class="col-md-2">
                <button class="btn btn-danger pull-right" ng-click="closeModal()">
                    {{'CLOSE' | translate}}
                </button>
            </div>
        </div>
    </form>
</div>