<div class="modal-header">
    <h3 class="modal-title">{{'FILL_IN_INFORMATION_ABOUT_LECTURER'
        | translate}}</h3>
</div>

<div class="modal-body">
    <form name="addLecturerForm" id="addLecturerForm" role="form" ng-submit="onAddLecturerFormSubmit()"
          class="form-group" novalidate>

        <div class="panel panel-primary">
            <div class="panel-heading">
                {{'GENERAL_INFORMATION' | translate}}
            </div>
            <div class="panel-body">

                <div class="form-group row" show-errors>
                    <label class="control-label col-md-4" for="lastName">
                        {{'LAST_NAME' |translate }}
                    </label>

                    <div class="col-md-8">
                        <input id="lastName" name="lastName" class="form-control"
                               type="text" ng-model="addLecturerFormData.lastName"
                               ng-pattern="FIRST_LAST_NAME_REGEX"
                               popover="{{'ALPHABETIC_INFO' | translate}}"
                               popover-trigger="focus" popover-placement="top" required>
							<span class="form-control-feedback glyphicon
						 	form-horizontal glyphicon glyphicon-ok-sign"></span>

                        <p class="help-block" ng-if="addLecturerForm.lastName.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'REQUIRED' | translate}}
                        </p>

                        <p class="help-block" ng-if="addLecturerForm.lastName.$error.pattern">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'INCORRECT_VALUE_LAST_NAME_ADD_EMPLOYEE' | translate }}
                        </p>
                    </div>
                </div>

                <div class="form-group row" show-errors>
                    <label class="control-label col-md-4" for="firstName">
                        {{'FIRST_NAME' |translate }}
                    </label>

                    <div class="col-md-8">
                        <input id="firstName" name="firstName" class="form-control"
                               type="text" ng-model="addLecturerFormData.firstName"
                               ng-pattern="FIRST_LAST_NAME_REGEX"
                               popover="{{'ALPHABETIC_INFO' | translate}}"
                               popover-trigger="focus" popover-placement="top" required>
							<span class="form-control-feedback glyphicon
						 	form-horizontal glyphicon glyphicon-ok-sign"></span>

                        <p class="help-block" ng-if="addLecturerForm.firstName.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'REQUIRED' | translate}}
                        </p>

                        <p class="help-block" ng-if="addLecturerForm.firstName.$error.pattern">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'INCORRECT_VALUE_LAST_NAME_ADD_EMPLOYEE' | translate }}
                        </p>
                    </div>
                </div>

                <div class="form-group row" show-errors>
                    <label class="control-label col-md-4" for="middleName">
                        {{'MIDDLE_NAME' |translate }}
                    </label>

                    <div class="col-md-8">
                        <input id="middleName" name="middleName" class="form-control"
                               type="text" ng-model="addLecturerFormData.middleName"
                               ng-pattern="MIDDLE_NAME_REGEX"
                               popover="{{'ALPHABETIC_INFO' | translate}}"
                               popover-trigger="focus" popover-placement="top" required>
							<span class="form-control-feedback glyphicon
						 	form-horizontal glyphicon glyphicon-ok-sign"></span>

                        <p class="help-block" ng-if="addLecturerForm.firstName.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'REQUIRED' | translate}}
                        </p>

                        <p class="help-block" ng-if="addLecturerForm.firstName.$error.pattern">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'INCORRECT_VALUE_LAST_NAME_ADD_EMPLOYEE' | translate }}
                        </p>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="academicStatus" class="control-label col-md-4">
                        {{'ACADEMIC_STATUS' | translate}}
                    </label>

                    <div class="col-md-8">
                        <ui-select style="display: block;" ng-model="addLecturerFormData.academicStatus" theme="select2"
                                   search-enabled="false" name="academicStatus" id="academicStatus" required>
                            <ui-select-match placeholder="{{'STATUS_SELECT_PLACEHOLDER_ACADEMIC_STATUS' | translate}}"
                                             allow-clear="true">
                                {{$select.selected.label}}
                            </ui-select-match>
                            <ui-select-choices
                                    repeat="academicStatus in academicStatusData">
                                <span ng-bind-html="academicStatus.label"></span>
                            </ui-select-choices>
                        </ui-select>

                        <p class="help-block" ng-if="addLecturerForm.academicStatus.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'REQUIRED' | translate}}
                        </p>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="degree" class="control-label col-md-4">
                        {{'DEGREE' | translate}}
                    </label>

                    <div class="col-md-8">
                        <ui-select style="display: block;" ng-model="addLecturerFormData.degree" theme="select2"
                                   search-enabled="false" name="degree" id="degree" required>
                            <ui-select-match placeholder="{{'STATUS_SELECT_PLACEHOLDER_DEGREE' | translate}}"
                                             allow-clear="true">
                                {{$select.selected.label}}
                            </ui-select-match>
                            <ui-select-choices
                                    repeat="degree in degreeData">
                                <span ng-bind-html="degree.label"></span>
                            </ui-select-choices>
                        </ui-select>

                        <p class="help-block" ng-if="addLecturerForm.degree.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'REQUIRED' | translate}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                {{'USER_INFORMATION' | translate}}
            </div>
            <div class="panel-body">


            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-10">
                <button type="submit" class="btn btn-success">
                    {{'ADD' | translate}}
                </button>
                <button type="reset" class="btn btn-warning" ng-click="resetAddLecturerForm()">
                    {{'CLEAR_FORM' | translate }}
                </button>
            </div>
            <div class="col-md-2">
                <button class="btn btn-danger pull-right" ng-click="closeModal()">
                    {{'CLOSE' | translate}}
                </button>
            </div>
        </div>
    </form>
</div>