<html>
<body>
<span style="font-weight:bold">
			Доброго дня! $lastname $firstname $middlename, Ваш акаунт успішно створена!
</span>
<br>На даний момент акаунт не активований. Як тільки він буде підтвержений адміністратором, ви отримаєте повідомлення про це.
<br>Дані для входу після підтвердження на сайт:
<br>Логін: $username
<br>Пароль: $password
<br>
<br>Дякуємо, що користуєтесь нашим сервісом.
</body>
</html>